<div class="app m-t-md t-c" ng-class="{'p-sm': !om.isGt(), 'p-md m-b-md md-whiteframe-1dp': om.isGt()}" md-colors="{ background: 'grey-A100' }" style="max-width: 500px;" ng-hide="id">
    <h2 class="md-headline">Домены зоне om.ua</h2>
    <div class="m-r-xl m-l-xl">
        <p class="t-lg m-sm">120 грн/год</p>
        <p class="t-lg m-sm">Доступны короткие имена</p>
    </div>
    <div class="m-t-md">
        <md-button href="mailto:support@om.ua" class="md-raised md-primary">
            Заказать
        </md-button>
    </div>
</div>

<div class="app m-t-md" ng-class="{'p-sm': !om.isGt(), 'p-md m-b-md md-whiteframe-1dp': om.isGt()}" md-colors="{ background: 'grey-A100' }" layout="row" layout-align="center" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="app m-t-md" ng-class="{'p-sm': !om.isGt(), 'p-md m-b-md md-whiteframe-1dp': om.isGt()}" md-colors="{ background: 'grey-A100' }" ng-show="id" ng-repeat="service in services track by service.id">
    <div layout="row" layout-align="center center">
        <h2 class="md-headline" flex>{{ service.id }}</h2>
        <p class="t-r t-sm" ng-show="service.domain">Продлен до {{ service.domain.expire | date:'yyyy-MM-dd' }}</p>
    </div>
    <md-divider ng-if="!$last" hide-gt-xs></md-divider>
</div>
